.snackbar-alignment {
  margin-top: 70px;
}

.MuiButton-label {
  font-weight: bold !important;
  text-transform: none !important;
}

@media only screen and (max-width: 500px) {
  * {
    font-size: small;
  }
}
