$name-color: #9118d6;

.dialog-container {
  .check-in-dialog-content {
    .user-container {
      margin-bottom: 10px;

      .name-field-label {
        font-weight: bold;
      }
      .name-field {
        font-weight: bold;
        color: $name-color;
      }
    }
  }
}


@media only screen and (min-width: 410px) {
  .check-in-dialog-content {
    width: 290px;
  }
}


@media only screen and (min-width: 500px) {
  .check-in-dialog-content {
    width: 390px;
  }
}


@media only screen and (min-width: 651px) {
  .check-in-dialog-content {
    width: 530px;
  }
}
