$shadow: 0 0 20px #21212133;

.flight-details {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;

  .card-view {
    margin-bottom: 20px;

    .material-card-content {
      cursor: pointer;

      .card-content-container {
        display: flex;
        flex-wrap: wrap;

        .card-content {
          flex: 1;
        }
      }

      .svg-container {
        display: flex;
        align-items: flex-end;
        flex: 0.1;

        .expand-more {
          align-items: flex-end;
          margin-left: auto;
          transform: rotate(0deg);
          transition: 0.4s ease-in-out;
          width: 30px;
          height: 30px;
          cursor: pointer;
        }
        .expanded {
          margin-left: auto;
          transform: rotate(180deg);
          transition: 0.4s ease-in-out;
          width: 30px;
          height: 30px;
          cursor: pointer;
        }
      }
    }

    .accordion-container {
      display: flex;
      width: 100%;

      .accordion-action-btn {
        display: flex;
        justify-content: space-between;
        width: 185px;
      }
    }
  }

  .card-view:hover {
    box-shadow: $shadow;
  }
}
