$nav-background: #20232a;
$nav-font-color: #ffffff;
$link-hover-color: #61dafb;

.nav-container {
  background: $nav-background;
  color: $nav-font-color;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  .navbar {
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 60px;

    .logo-container {
      display: flex;
      width: 100%;
      height: 60px;
      
      .logo {
        display: flex;
        height: 100%;
        color: $link-hover-color;
        align-items: center;

        .flight-logo {
          height: 24px;
          width: 24px;
          display: flex;
        }

        .flight-logo-text {
          display: flex;
          padding-left: 5px;
          font-weight: 550;
        }
      }
    }

    .nav-links-container {
      height: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      height: 100%;

      .links {
        display: flex;
        color: $nav-font-color;
        padding-left: 15px;
        padding-right: 15px;
        align-items: center;
      }

      .links:hover {
        color: $link-hover-color;
        transition: 0.3s;
      }

      .active-link {
        display: flex;
        color: $link-hover-color;
        padding-left: 15px;
        padding-right: 15px;
        align-items: center;
        position: relative;
      }

      .active-bar {
        position: absolute;
        bottom: -1px;
        height: 4px;
        background: $link-hover-color;
        left: 0;
        right: 0;
        z-index: 1;
      }
    }

    .roles-container {
      .login-button {
        display: flex;
        width: 100px;
        height: 60px;
        justify-content: center;
        border: none;
        outline: none;
        color: $nav-font-color;
        background: $nav-background;
        align-items: center;

        .google-logo {
          height: 30px;
          width: 30px;
        }

        .google-logo-text {
          display: flex;
          width: 50%;
          justify-content: center;
        }
      }

      .login-button:hover {
        cursor: pointer;
        color: $link-hover-color;
      }

      .login-button:hover .google-logo {
        animation: rotate 1s;
      }
    }

    .menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: -5px;
      padding-left: 5px;
      padding-right: 5px;

      span {
        background: $nav-font-color;
        width: 30px;
        height: 4px;
        transform: rotate(0deg);
        transition: 1s ease;
        margin-top: 5px;
      }
    }

    .menu-open {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: -5px;
      padding-left: 5px;
      padding-right: 5px;

      span:nth-child(1) {
        background: $nav-font-color;
        width: 30px;
        height: 4px;
        transform: rotate(45deg);
        position: fixed;
        transition: 1s ease-in-out;
      }

      span:nth-child(2) {
        transform: rotate(360deg);
      }

      span:nth-child(3) {
        background: $nav-font-color;
        width: 30px;
        height: 4px;
        transform: rotate(-45deg);
        transition: 1s ease-in-out;
      }
    }

    @media only screen and (min-width: 621px) {
      .menu,
      .menu-open {
        display: none;
      }
    }

    @media only screen and (max-width: 620px) {
      .nav-links-container {
        display: none;
      }
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
