.dialog-container {
  .dialog-content {
    width: 400px;

    .material-select {
      width: 200px;
    }
  }
}

.MuiSelect-root {
  height: 0 !important;
}

.MuiOutlinedInput-input {
  display: flex !important;
  align-items: center !important;
}

@media only screen and (min-width: 501px) {
  .MuiMenu-paper {
    max-height: calc(100% - 70%) !important;
    top: 53.5% !important;
  }
}

@media only screen and (max-width: 500px) {
  .MuiMenu-paper {
    max-height: calc(100% - 70%) !important;
    top: 55% !important;
  }
}
