$name-color: #003cff;
$services-color: #a51dff;

.action-container {
  display: flex;
  width: 100%;
  padding: 5px;

  .left-side-action {
    flex: 1;
  }

  .right-side-action {
    display: flex;
    flex: 1;
    justify-content: flex-end;

    .submit-action-button {
      margin-left: 5%;
    }
  }
}

@media only screen and (min-width: 651px) {
  .dialog-content {
    width: 500px;
  }

  .service-container {
    display: flex;

    .service-content {
      display: flex;
      flex: 1;
      align-items: center;

      .services {
        width: 100%;
        color: $services-color;
        font-weight: bold;
      }

      .service-name {
        font-weight: bold;
        color: $name-color;
      }
    }

    .action-button {
      display: flex;
      justify-content: flex-end;
      flex: 0.5;
    }
  }
}

@media only screen and (max-width: 650px) {
  .service-container {
    display: flex;
    flex-wrap: wrap;
    font-size: small;

    .service-content {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      align-items: center;
      flex: 1;

      .services {
        width: 100%;
        color: $services-color;
        font-weight: bold;
      }

      .service-name {
        font-weight: bold;
        color: $name-color;
      }
    }

    .action-button {
      display: flex;
      flex: .5;
      justify-content: flex-end;
    }
  }
}
