$shadow: 0 0 20px rgba(33, 33, 33, 0.2);
.flight-details {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;

  .card-view {
    margin-bottom: 20px;
  }

  .card-view:hover {
    cursor: pointer;
    box-shadow: $shadow;
  }
}
